

#item-remove-link  {
background-image:url("../../images/edit_sprite.png");
background-position:0 -50px;
background-repeat:no-repeat;
overflow:hidden;
padding-left:20px;
position:relative;
text-decoration:none !important;
}

#item-remove-link a {
color:#FFFFFF;
font-weight:bold;
}

#content-header-map-snapshot {
clear:none;
float:left;
}

#content-header-item-name {
font-size:24px;
}

#content-header-item-features {
margin-top:20px;
}

#content-element {
border-bottom:1px dashed #000000;
margin:10px;
min-height:70px;
}

.userlist-entry {
border:1px solid white;
float:left;
height:50px;
margin-bottom:10px;
margin-right:10px;
position:relative;
width:50px;
}

#content-scrollable {
margin-top:20px;
}

#comment-form {
background-color:#FAFAFA;
border:1px solid #F2F2F2;
margin:10px;
padding:10px;
}

label {
display:block;
font-weight:bold;
margin:5px;
}

input {
border:1px solid #EEEEEE;
color:#777777;
font:1em/1.5em Verdana,sans-serif;
padding:4px;
}

textarea {
border:1px solid #EEEEEE;
color:#777777;
display:block;
font:1em/1.5em Verdana,sans-serif;
height:100px;
padding:4px;
width:350px;
}

.username {
clear:none;
float:left;
margin:10px;
}

.profile-name {
font-size:14px;
}

.item-options {
padding:10px;
}

.user-thumb {
clear:none;
float:left;
}

ul.paging li {
color:#FFFFFF;
cursor:pointer;
line-height:1;
margin-bottom:1px;
padding:10px;
border-bottom:1px dashed #000000;
}

.pager-element {
height:50px;
}

.pager-element input {
clear:none;
float:left;
height:50px;
margin-left:10px;
margin-right:10px;
}

.pager-element img {
clear:none;
float:left;
}

.pager-element a {
}

.pager-element .username {
clear:none;
float:left;
margin:20px;
}

#options-section-item-actions {
float:right;
line-height:20px;
}

#options-section {
background-color:#AAAAAA;
height:60px;
}